<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>KeepAlive</key>
  <false/>
  <key>Label</key>
  <string>com.andela.nominate</string>
  <key>OnDemand</key>
  <true/>
  <key>Program</key>
  <string>/usr/bin/osascript</string>
  <key>ProgramArguments</key>
  <array>
    <string>osascript</string>
    <string>/Applications/nominate.app/Contents/Resources/Scripts/main.scpt</string>
  </array>
  <key>RunAtLoad</key>
  <false/>
  <key>StartCalendarInterval</key>
  <dict>
      <key>Hour</key>
      <integer>12</integer>
      <key>Minute</key>
      <integer>03</integer>
  </dict>
  <key>StandardOutPath</key>
  <string>/tmp/turtle.out</string>
  <key>StandardErrorPath</key>
  <string>/tmp/turtle.err</string>
</dict>
</plist>